* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Sidebar Styles */
.sidebar {
  height: calc(90% - 30px); /* Adjust the percentage and padding according to your preference */
  position: fixed;
  width: calc(18% - 20px); /* Adjust the percentage and padding according to your preference */
  background: #f1f1f1;
  z-index: 99;
  transition: width 0.5s ease; /* Add transition for smooth collapsing/expanding */
}

.sidebar.collapsed {
  width: 60px;
}

.logo {
  font-size: clamp(1.5vw, 1.5vw, 1.6em); /* Set font size with minimum, preferred, and maximum values */
  padding: 0 5px;
  position: relative; /* Set the positioning to relative */
  top:12px; /* Adjust the value to lower or raise the logo */

}

.sidebar a {
  color: #333;
  text-decoration: none;
}

.sidebar .logo-details {
  height: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
  text-align: right;
}

#btn {
  color: #080808;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
}

#btn:hover {
  background-color: #f9f6f6;
}
.menu-content {
  position: relative;
  height: calc(90% - 30px); /* Adjust the percentage and padding according to your preference */
  width: 100%;
  margin-top: 15px;
  overflow-y: scroll;
}
.menu-content::-webkit-scrollbar {
  display: none;
}
.menu-items {
  height: calc(90% - 30px); /* Adjust the percentage and padding according to your preference */
  width: 100%;
  list-style: none;
  transition: all 0.4s ease;
}
.submenu-active .menu-items {
  transform: translateX(-56%);
  padding-left: 30px;

}
.menu-title {
  color: #333;
  font-size: clamp(.5vw, 1vw, 1.2em); /* Set font size with minimum, preferred, and maximum values */
  padding: 0.8em 1.6em; /* Adjust padding based on font size */
}
.item a, .submenu-item {
  font-size: clamp(.5vw, 1vw, 1.2em); /* Set font size with minimum, preferred, and maximum values */
  padding: 0.8em 1.6em; /* Adjust padding based on font size */
  display: inline-block;
  width: 90%;
  border-radius: 12px;

}


.item i {
  font-size: 1vw; /* Set font size based on viewport width */
}
.item a:hover,
.submenu-item:hover,
.submenu .menu-title:hover {
  background: rgba(255, 255, 255, 0.1);
}
.submenu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  cursor: pointer;
}
.submenu {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: calc(-100% - 2px);
  height: calc(100% + 100vh);
  background: #f1f1f1;
  display: none;
  padding: 12px;

}
.show-submenu ~ .submenu {
  display: block;
}
.submenu .menu-title {
  border-radius: 12px;
  cursor: pointer;
}
.submenu .menu-title i {
  margin-right: 20px;
}

/* Sidebar Styles End */


/* Menu Styles */
/* Menu includes buttons for cas, fct img, and slider */
.main {
  float: right;
  width: calc(85% - 30px);
  transition: all 0.5s ease;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  z-index: 1000;
}


.sidebar.close ~ .navbar,
.sidebar.close ~ .main {
  left: 0;
  width: 100%;
}
.navbar {
  position: fixed;
  color: #fff;
  padding: 15px 20px;
  /* font-size: 25px; */
  font-size: 1vw; /* Set font size based on viewport width */

}
.navbar #sidebar-close {
  cursor: pointer;
}

/* Image Container Styles */

.image-container {
  max-width: 100%; /* Limit container width */
  max-height: auto;    /* Maintain the aspect ratio */
  display: flex; /* Use flexbox for alignment */
  align-items: center;
  justify-content: center; /* Center horizontally and vertically */
  z-index: 80;

}

.image-container img {
  width: auto;    /* Maintain the aspect ratio */
  max-width: 95%;
  height: auto;    /* Maintain the aspect ratio */
  max-height: 95vh;
  display: block; /* Remove extra spacing beneath images */
  margin: 0 auto; /* Center the image horizontally within the container */
}


.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center the buttons horizontally */
  gap: 10px;
  margin-bottom: 10px; /* Add margin to separate buttons from image */
}

.button-container:hover {
  background-color: #e0e0e0;
}



.button {
  padding: 10px 20px;
  /* font-size: 16px; */
  font-size: clamp(.5vw, 1vw, 1.2em); /* Set font size with minimum, preferred, and maximum values */
  background-color: #9de8fa;
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button.active {
  background-color: #000066;
  color: #f3f1f1;

}

.button:hover {
  background-color: #e0e0e0;
}

@media (max-width: 800px) {
  .button {
    padding: 2px 2px; /* Adjust the padding for smaller screens */
    font-size: 8px; /* Adjust the font size for smaller screens */
  }
}




.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999; /* Increase the z-index value */
}

.dropdown-option.active {
  background-color: #4040ed;
  color: #f3f1f1;
}

.dropdown-content button {
  font-size: clamp(.5vw, 1vw, 1em); /* Set font size with minimum, preferred, and maximum values */
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.slider-container {
  margin: 10px;
  width: 80%;
}

.slider {
  width: 100%;
  margin: 0 auto;
}
