* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Sidebar Styles */
.sidebar {
  height: 100%;
  position: fixed;
  width: calc(20% - 30px); /* Adjust the percentage and padding according to your preference */
  max-width: 290px; /* Set a maximum width for the sidebar */
  background: #f1f1f1;
  padding: 15px;
  z-index: 99;
  transition: width 0.5s ease; /* Add transition for smooth collapsing/expanding */
}

.sidebar.collapsed {
  width: 60px;
}

.logo {
  font-size: clamp(1.5vw, 1.5vw, 1.6em); /* Set font size with minimum, preferred, and maximum values */
  padding: 0 15px;
}

.sidebar a {
  color: #333;
  text-decoration: none;
}

.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
  text-align: right;
}

#btn {
  /* background-color: #4070f4; */
  color: #080808;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
}

#btn:hover {
  background-color: #f9f6f6;
}
.menu-content {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 40px;
  overflow-y: scroll;
}
.menu-content::-webkit-scrollbar {
  display: none;
}
.menu-items {
  height: 100%;
  width: 100%;
  list-style: none;
  transition: all 0.4s ease;
}
.submenu-active .menu-items {
  transform: translateX(-56%);
}
.menu-title {
  color: #333;
  font-size: 1vw; /* Set font size based on viewport width */
  padding: 15px 20px;
}
.item a,
.submenu-item {
  font-size: clamp(.5vw, 1vw, 1.2em); /* Set font size with minimum, preferred, and maximum values */
  padding: 0.8em 1.6em; /* Adjust padding based on font size */
  /* padding: 16px; */
  display: inline-block;
  width: 100%;
  border-radius: 12px;

}

.item i {
  font-size: 1vw; /* Set font size based on viewport width */
}
.item a:hover,
.submenu-item:hover,
.submenu .menu-title:hover {
  background: rgba(255, 255, 255, 0.1);
}
.submenu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  cursor: pointer;
}
.submenu {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: calc(-100% - 2px);
  height: calc(100% + 100vh);
  background: #f1f1f1;
  display: none;
  padding: 20px;

}
.show-submenu ~ .submenu {
  display: block;
}
.submenu .menu-title {
  border-radius: 12px;
  cursor: pointer;
}
.submenu .menu-title i {
  margin-right: 10px;
}

.main {
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  z-index: 1000;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  z-index: 100;
}
.sidebar.close ~ .navbar,
.sidebar.close ~ .main {
  left: 0;
  width: 100%;
}
.navbar {
  position: fixed;
  color: #fff;
  padding: 15px 20px;
  /* font-size: 25px; */
  font-size: 1vw; /* Set font size based on viewport width */

}
.navbar #sidebar-close {
  cursor: pointer;
}

/* Image Container Styles */

.image-container {
  max-width: 85%; /* Limit container width */
  max-height: 95vh; /* Limit container height to 95% of viewport height */
  display: flex; /* Use flexbox for alignment */
  align-items: center;
  justify-content: center; /* Center horizontally and vertically */
  overflow: hidden; /* Hide any overflow beyond the container */
}

.image-container img {
  max-width: 100%; /* Limit image width to container width */
  max-height: 100%; /* Limit image height to container height */
  display: block; /* Remove extra spacing beneath images */
  margin: 0 auto; /* Center the image horizontally within the container */
}

@media (min-width: 1000px) {
  .image-container img {
    max-width: 70%; /* Limit image width on large screens */
    max-height: 70%; /* Limit container height to 95% of viewport height */
  }
}
@media (max-height: 900px) {
  .image-container img {
    max-width: 75%; /* Limit image width on large screens */
    max-height: 75%; /* Limit container height to 95% of viewport height */

  }
}



.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center the buttons horizontally */
  gap: 10px;
  margin-top: 20px; /* Add margin to separate buttons from image */
}

.button-container:hover {
  background-color: #e0e0e0;
}



.button {
  padding: 10px 20px;
  /* font-size: 16px; */
  font-size: clamp(.5vw, 1vw, 1.2em); /* Set font size with minimum, preferred, and maximum values */
  background-color: #9de8fa;
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.button.active,
.button:hover {
  background-color: #e0e0e0;
}

@media (max-width: 768px) {
  .button {
    padding: 2px 2px; /* Adjust the padding for smaller screens */
    font-size: 8px; /* Adjust the font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .button {
    padding: 1px 1px; /* Further adjust the padding for even smaller screens */
    font-size: 4px; /* Further adjust the font size for even smaller screens */
  }
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999; /* Increase the z-index value */
}

.dropdown-content button {
  font-size: clamp(.5vw, 1vw, 1em); /* Set font size with minimum, preferred, and maximum values */
  display: block;
  width: 100%;
  text-align: left;
  padding: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.slider-container {
  margin: 10px;
  width: 75%;
}

.slider {
  width: 100%;
  margin: 0 auto;
}
